body
{
    font-family: 'Droid Sans', Verdana, Arial;
    font-size: 12px;
}

a {
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

#container
{
    width: 700px;
    text-align: center;
    margin: 0 auto;
    border: 1px solid darkblue;
    background-color: #CCCCFF;
}

#content
{
    padding: 1em;
}

input#query
{
    width: 460px;
}

span#result
{
    font-size: 1.2em; 
}
